html, body {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(/images/delyan-farashev-wood-texture-delyan-farashev.jpg);
    background-position: center;
    background-size: 40%;
}

@media (min-width: 800px) {
    #map {
        position: fixed;
        left:0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    #map #sidebar {
        width: 400px;
        max-width: 400px;
        background-color: rgba(0,0,0,0.8);
        position: relative;
    }
    #map #right-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #map #right-content #location-block{
        height: 100%;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.3);
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
    }
    #map #right-content #location-block #location-img{
        position: absolute;
        z-index:10;
    }
    #map #right-content #location-block #location-overlay{
        position: absolute;
        z-index:11;
    }
    #map #right-content #location-block #location-overlay .location-mouse-coords {
        display: none;
        position: absolute;
        font-size: 14px;
        left: 0px;
        bottom: 0px;
        color: white;
        font-weight: bold;
        font-family: "Philosopher";
        background-color: rgba(0,0,0,0.3);
        padding: 4px;
    }
    #map #right-content #location-block #location-overlay:hover .location-mouse-coords {
        display: block;
    }
    #map #right-content #location-block #location-overlay .location-marker {
        position: absolute;
        background-color: gold;
        width: 6px;
        height: 6px;
        border: 1px solid black;
        margin-left: -3px;
        margin-top: -3px;
        border-radius: 5px;
        z-index: 13;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
    }
    #map #right-content #location-block #location-overlay .location-marker .marker-tooltip {
        /* display: none; */
        margin-top: -28px;
        margin-left: -15px;
        background-color: rgba(0,0,0,0.7);
        font-size: 12px;
        padding: 4px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,1);
        color: white;
        font-family: "Philosopher";
        width: fit-content;
        visibility: hidden;
        opacity: 0;
        -webkit-transition:  visibility 0s, opacity 0.5s ease-in-out;
        -moz-transition:  visibility 0s, opacity 0.5s ease-in-out;
        -ms-transition:  visibility 0s, opacity 0.5s ease-in-out;
        -o-transition:  visibility 0s, opacity 0.5s ease-in-out;
        transition:  visibility 0s, opacity 0.5s ease-in-out;
    }
    #map #right-content #location-block #location-overlay .location-marker:hover .marker-tooltip {
        /* display: block; */
        visibility: visible;
        opacity: 1;
        -webkit-transition:  visibility 0s, opacity 0.5s ease-in-out;
        -moz-transition:  visibility 0s, opacity 0.5s ease-in-out;
        -ms-transition:  visibility 0s, opacity 0.5s ease-in-out;
        -o-transition:  visibility 0s, opacity 0.5s ease-in-out;
        transition:  visibility 0s, opacity 0.5s ease-in-out;
    }
    #sidebar {
        position: relative;
    }
    #sidebar #search-bar {
        height: 30px;
        max-height: 30px;
        padding: 10px;
    }
    #sidebar #search-bar .search-icon {
        color: white;
        position: absolute;
        margin: 3px 0px 0px 5px;
    }
    #sidebar #search-bar #search-input {
        background-color: rgba(255,255,255, 0.4);
        border: 1px white solid;
        color: white;
        font-family: "Philosopher";
        font-size: 14px;
        padding: 3px 3px 3px 25px;
        width: 100%;
        box-sizing: border-box;
        display: block;
    }
    #sidebar .menu-container .no-results {
        color: white;
        font-family: "Philosopher";
        text-align: center;
        padding: 5px;
        font-weight: bold;
    }
    #map #sidebar.sidebar-hide {
        width: 0px;
        max-width: 0px;
    }
    #map #sidebar.sidebar-hide #search-bar,
    #map #sidebar.sidebar-hide #searchResults,
    #map #sidebar.sidebar-hide #menu,
    #map #sidebar.sidebar-hide #sidebar-footer {
        display: none;
    }
    #map #sidebar #sidebar-hider {
        display: none;
        width: 30px;
        height: 100px;
        position: absolute;
        top:50vh;
        right: 0px;
        margin-top: -50px;
        margin-right: -30px;
        background-color: rgba(0,0,0,0.8);
        cursor: pointer;
        color: white;
        font-size: 20px;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        align-items: center;
    }
    #map #sidebar.sidebar-hide #sidebar-hider,
    #map #sidebar:hover #sidebar-hider {
        display: flex;
        z-index: 12;
    }
    #sidebar #search-bar #search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255,255,255,0.5);
    }
    #sidebar #search-bar #search-input::-moz-placeholder { /* Firefox 19+ */
      color: lightgray;
      font-style: italic;
    }
    #sidebar #search-bar #search-input:-ms-input-placeholder { /* IE 10+ */
      color: lightgray;
      font-style: italic;
    }
    #sidebar #search-bar #search-input:-moz-placeholder { /* Firefox 18- */
      color: lightgray;
      font-style: italic;
    }
    #sidebar .menu-container {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        scroll-behavior: auto;
        overflow-x: hidden;
    }
    #sidebar .menu-container .menu-item:last-child {
        border-bottom: none;
    }
    #sidebar .menu-container .menu-item {
        position: relative;
        font-family: 'Philosopher';
        font-weight: bold;
        font-size: 16px;
        background-color: rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(255,255,255, 0.5);
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
    }
    #sidebar .menu-container .menu-item .hide-childs {
        display: none;
    }
    #sidebar .menu-container .menu-item {
        padding: 5px;
    }
    #sidebar .menu-container .menu-item .item-label {
        color: white;
        text-decoration: none;
    }
    #sidebar .menu-container .menu-item .icons-block {
        color: white;
        float: right;
    }
    #sidebar .menu-container .menu-item.location .item-label,
    #sidebar .menu-container .menu-item.levels .item-label,
    #sidebar .menu-container .menu-item .icons-block .item-show-map,
    #sidebar .menu-container .menu-item .item-dot {
        color: orange;
    }

    #map #right-content #location-breadcrumbs{
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
        background-color: rgba(0,0,0,0.7);
    }
    #map #right-content #location-breadcrumbs span.breadcrumbs-item {
        color: white;
        font-family: 'Philosopher';
        font-size: 20px;
        font-weight: bold;
        padding: 5px;
        display: inline-block;
    }
    #map #right-content #location-breadcrumbs span.breadcrumbs-item:after {
        display: inline-block;
        padding: 10px 0px 10px 10px;
        font-family: 'Philosopher';
        font-size: 20px;
        color: white;
        content: ">";
    }
    #map #right-content #location-breadcrumbs span.breadcrumbs-item:last-child:after {
        content: "";
    }
    #map #right-content #location-breadcrumbs span.breadcrumbs-item.location {
        cursor: pointer;
        color: orange;
    }
    #sidebar-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: 0px;
    }
    .sidebar-footer-item {
        text-align: center;
        width: 20%;
        display: block;
        border-right: 1px solid rgba(255,255,255, 0.5);
        border-top: 1px solid rgba(255,255,255, 0.5);
        cursor: pointer;
    }
    .sidebar-footer-item:last-child {
        border-right: none;
    }
    .sidebar-footer-item span {
        font-size: 30px;
        padding: 5px;
        background-color: rgba(255,255,255,0.15);
        color: orange;
        display: block;
    }
    .block-hidden {
        display: none;
    }
    /* POPUPS */
    #popup {
        position:fixed;
        width: 100vw;
        height: 100vh;
        top:0px;
        left: 0px;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #popup .popup-container {
        position: relative;
        background-color: rgba(0,0,0,0.5);
        border: 1px solid rgba(255,255,255,0.5);
    }
    #popup .popup-header {
        position: relative;
        height: 50px;
        min-width: 150px;
        border-bottom: 1px solid rgba(255,255,255,0.2)
    }
    #popup .popup-header .popup-title {
        line-height: 50px;
        padding: 0px 52px 0px 20px;;
        font-family: "Philosopher";
        font-size: 23px;
        color: white;
        opacity: 0.9;
    }
    #popup .popup-header .popup-close {
        position: absolute;
        right: 14px;
        top: 14px;
        width: 22px;
        height: 22px;
        opacity: 0.9;
        cursor: pointer;
    }
    #popup .popup-header .popup-close:hover {
        opacity: 1;
    }
    #popup .popup-header .popup-close:before, #popup .popup-header .popup-close:after {
        position: absolute;
        left: 10px;
        content: ' ';
        height: 23px;
        width: 2px;
        background-color: white;
    }
    #popup .popup-header .popup-close:before {
        transform: rotate(45deg);
    }
    #popup .popup-header .popup-close:after {
        transform: rotate(-45deg);
    }
    #popup .popup-content {
        background-color: rgba(255,255,255,0.2)
    }
    #popup .popup-content.settings select {
        padding: 10px;
        margin: 5px;
        border: 1px solid rgba(255,255,255,0.5);
        background-color: rgba(0,0,0,0.6);
        color: white;
        font-size: 16px;
        font-family: "Philosopher";
        font-weight: bold;
        width: calc(100% - 10px);
    }
}
#spinner {
    position:fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
}
.sk-folding-cube {
  margin: -30px 0px 0px -30px;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 50vw;
  top: 50vh;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
