<!DOCTYPE html>
<html ng-app="mapApp" ng-controller="MapController" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{data.labels.pageTitle}}</title>
        <base href="/#">
        <script src="js/lib/jquery-3.2.1.min.js" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js" charset="utf-8"></script>
        <script src="js/common.js" charset="utf-8"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link rel="stylesheet" href="css/master.css">
    </head>
    <body>
        <div id="page">
            <div id="header"></div>
            <div id="content">
                <div id="map" ng-cloak>
                    <div id="sidebar" class="{{params.sideBarHide ? 'sidebar-hide' : ''}}" ng-if="data.itemsHierarchy">
                        <div id="search-bar">
                            <span class="search-icon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                            <input type="text" id="search-input" placeholder="{{data.labels.searchPlaceholder}}" ng-model="data.searchString" ng-change="search()"/>
                        </div>
                        <div id="searchResults" class="menu-container {{(data.searchString != null && data.searchString.length > 0) ? 'block-display' : 'block-hidden'}}">
                            <div class="scrollable-wrapper">
                                <div class="menu-item {{item.type}}"  ng-click="$event.stopImmediatePropagation();showLocation(item, $event);" ng-if="data.searchResults && data.searchResults.length > 0" ng-repeat="item in data.searchResults">
                                    <span class="item-label {{item.id != null && item.id == getLocId() ? 'active' : ''}}">{{item.label}}</span>
                                </div>
                                <div class="no-results"  ng-if="(!data.searchResults || data.searchResults.length <= 0) && data.searchString.length > 0">
                                    {{(data.searchString.length > 1) ? (data.labels.noResultsFor + ' "' + data.searchString+ '"') : data.labels.inputOneMore}}
                                </div>
                            </div>
                        </div>
                        <div id="menu" class="menu-container {{(data.searchString == null || data.searchString === '') ? 'block-display' : 'block-hidden'}}">
                            <div class="scrollable-wrapper">
                                <script type="text/ng-template" id="menuTree">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td width="{{item.id == getLocId() ? '75' : '85'}}%">
                                                <span class="item-label {{item.id != null && item.id == getLocId() ? 'active' : ''}}">{{item.label}}</span>
                                            </td>
                                            <td width="10%" style="text-align: center;" ng-if="item.id != null && item.id == getLocId()">
                                                <span class="item-dot">
                                                    <i class="fa fa-circle" title="{{data.labels.locationDot}}" aria-hidden="true"></i>
                                                </span>
                                            </td>
                                            <td width="15%">
                                                <span class="icons-block">
                                                    <span class="item-show-map" title="{{data.labels.showLocation}}" ng-click="$event.stopImmediatePropagation();showLocation(item, $event);" ng-if="(item.type === 'location' || item.type === 'levels') && item.childs">
                                                        <i class="fa fa-map" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="item-expander" title="{{data.labels.openChilds}}" ng-if="item.childs">
                                                        <i class="fa {{item.showChilds ? 'fa-arrow-up' : 'fa-arrow-down'}}" aria-hidden="true"></i>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="child-items {{item.showChilds ? '' : 'hide-childs'}}" ng-if="item.childs">
                                        <div class="menu-item  {{item.type}}" ng-click="$event.stopImmediatePropagation();menuAction(item, $event);" ng-repeat="item in item.childs" ng-include="'menuTree'"></div>
                                    </div>
                                </script>
                                <div class="menu-item {{item.type}}"  ng-click="$event.stopImmediatePropagation();menuAction(item, $event);" ng-if="data.itemsHierarchy" ng-repeat="item in data.itemsHierarchy"  ng-include="'menuTree'"></div>
                            </div>
                        </div>
                        <div id="sidebar-footer">
                            <div class="sidebar-footer-item clear-marks" ng-click="clearMarkers()" target="_blank"  title="{{data.labels.clearMarks}}">
                                <span>
                                    <i class="fa fa-remove" aria-hidden="true"></i>
                                </span>
                            </div>
                            <a href="#{{link}}" class="sidebar-footer-item link-current" target="_blank">
                                <span>
                                    <i class="fa fa-link" aria-hidden="true" title="{{data.labels.currentLink}}"></i>
                                </span>
                            </a>
                            <a href="{{data.wowHeadLinkBase}}{{link}}" class="sidebar-footer-item link-wowhead" target="_blank" title="{{data.labels.wowheadLink}}">
                                <span>
                                    <i class="fa fa-rocket" aria-hidden="true"></i>
                                </span>
                            </a>
                            <div class="sidebar-footer-item settings" ng-click="$parent.activePopup = 'settings'" target="_blank" title="{{data.labels.settings}}">
                                <span>
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="sidebar-footer-item about" ng-click="$parent.activePopup = 'about'" target="_blank" title="{{data.labels.about}}">
                                <span>
                                    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div id="sidebar-hider" ng-click="sidebarToggle()">
                            <span>
                                <i class="fa fa-angle-double-{{params.sideBarHide ? 'right' : 'left'}}" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <div id="right-content">
                        <div id="location-breadcrumbs">
                            <span class="breadcrumbs-item {{item.type}}" ng-repeat="item in breadcrumbs" ng-click="$event.stopImmediatePropagation();showLocation(item, $event);" ng-if="breadcrumbs && breadcrumbs.length > 0">{{item.label}}</span>
                        </div>
                        <div id="location-block">
                            <!-- <img id="location-img" ng-src="images/maps/{{getLangId()}}/{{getLocId()}}.jpg"></img> -->
                            <img id="location-img" ng-src="{{data.wowHeadImageLinkBase}}{{getNormalizeLangId()}}/zoom/{{getNormalizeLocId()}}.jpg"></img>
                            <div id="location-overlay" ng-mousemove="mouseMoveHandler($event)" ng-click="createMarkerClick($event)">
                                <div class="location-marker"
                                    ng-repeat="marker in markers"
                                    data-left="{{marker.left}}"
                                    data-top="{{marker.top}}"
                                    style="left:{{marker.left}}%;top:{{marker.top}}%;"
                                    ng-click="$event.stopImmediatePropagation();deleteMarker(marker);"
                                    ng-if="!marker.deleted"
                                >
                                    <div class="marker-tooltip">{{marker.left}},{{marker.top}}</div>
                                </div>
                                <div class="location-mouse-coords">{{mouseCoordX}}, {{mouseCoordY}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer"></div>
        </div>
        <!-- Popups -->
        <div id="popup" ng-if="activePopup">
            <div class="popup-container">
                <div class="popup-header">
                    <div class="popup-title">{{data.labels[$parent.activePopup]}}</div>
                    <div class="popup-close" ng-click="$parent.activePopup = null"></div>
                </div>
                <div class="popup-content {{activePopup}}">
                    <div ng-if="activePopup == 'settings'">
                        <select
                            ng-model="params.lang"
                            ng-options="language.id as language.label for language in languages"
                            ng-change="setData()"
                        ></select>
                    </div>
                    <div ng-if="activePopup == 'about'">

                    </div>
                </div>
                <div class="popup-footer">
                </div>
            </div>
        </div>
        <div id="spinner" ng-if="params.loading">
            <div class="sk-folding-cube">
              <div class="sk-cube1 sk-cube"></div>
              <div class="sk-cube2 sk-cube"></div>
              <div class="sk-cube4 sk-cube"></div>
              <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    </body>
</html>
